<h2>Surfaces Manager</h2>

<div class="row">
  <%= link_to 'New surface', new_surface_path, type: 'button', class: 'btn btn-success pull-right' %>
</div>


<table class="table table-hover">
  <tr>
    <th>Code</th>
    <th>Price</th>
    <th>Type</th>
    <th>Image</th>
    <th>Location</th>
  </tr>

  <% @surfaces.each do |surface| %>
      <tr>
        <td><%= surface.code %></td>
        <td><%= surface.price %></td>
        <td><%= surface.surface_type.name %></td>
        <td><%= image_tag(surface.image(:thumb)) %></td>
        <td><%= Location.find(surface[:location_id]).name %></td>
        <td><%=link_to 'Details', surface_path(surface), class: 'btn btn-info' %></td>
        <td><%=link_to 'Edit', edit_surface_path(surface), class: 'btn btn-warning' %></td>
        <td><%=link_to 'Delete', surface_path(surface), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
  <% end %>
</table>


