<!DOCTYPE html>
<html>
<head>
  <title>Pms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header text-center">
  <h1>Poster management service</h1>
</div>

<div class="col-sm-2">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><%= link_to root_path, {class: 'btn btn-default'} do%><i class="glyphicon glyphicon-home"> Home </i> <% end %></li>
      <li><%= link_to root_path, {class: 'btn btn-default'} do%><i class="glyphicon glyphicon-object-align-vertical"> Location Manager </i> <% end %></li>
      <li><%= link_to surfaces_path, {class: 'btn btn-default'} do%><i class="glyphicon glyphicon-picture"> Surface Manager </i> <% end %></li>
      <li><%= link_to root_path, {class: 'btn btn-default'} do%><i class="glyphicon glyphicon-object-align-vertical"> Campaign Manager </i> <% end %></li>
    </ul>
  </div>
</div>

<div class="col-sm-10">
  <div class="container">
    <%= yield %>
  </div>
</div>


</body>
</html>
